<h2>Ввод текста</h2>
<input v-model="text">
<p>{{ text }}</p>

<h2>Флажок</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Отмечено: {{ checked }}</label>

<!--
  Несколько флажков могут быть привязаны к одному и тому же
  массиву значений v-model
-->
<h2>Мультифлажок</h2>
<input type="checkbox" id="jack" value="Жека" v-model="checkedNames">
<label for="jack">Жека</label>
<input type="checkbox" id="john" value="Ваня" v-model="checkedNames">
<label for="john">Ваня</label>
<input type="checkbox" id="mike" value="Миха" v-model="checkedNames">
<label for="mike">Миха</label>
<p>Выбранные имена: {{ checkedNames }}</p>

<h2>Переключатель</h2>
<input type="radio" id="one" value="Раз" v-model="picked">
<label for="one">Раз</label>
<br>
<input type="radio" id="two" value="Два" v-model="picked">
<label for="two">Два</label>
<p>Выбрано: {{ picked }}</p>

<h2>Список</h2>
<select v-model="selected">
  <option disabled value="">Выберите что-нибудь</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Выбрано: {{ selected }}</p>

<h2>Выбор из нескольких вариантов</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Выбрано: {{ multiSelected }}</p>
